:root {
    --background-color: rgba(13, 17, 23);
    --text-color: rgb(201, 209, 217);
    --logo-color: #58C4DC;
    --menu-active-background-color: var(--logo-color, rgb(113, 128, 150));
    --menu-active-text-color: var(--background-color, rgb(13, 17, 23));

    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: var(--text-color);
    background-color: var(--background-color);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    font-weight: 500;
    text-decoration: inherit;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
}

@media (prefers-color-scheme: light) {
    :root {
        --background-color: rgba(255, 255, 255, 0.87);
        --text-color: rgba(0, 0, 0, 0.87);
        --logo-color: #087EA4;
        --menu-active-background-color: var(--logo-color, #242424);
        --menu-active-text-color: var(--background-color, rgba(255, 255, 255, 0.87));

        color: var(--text-color);
        background-color: var(--background-color);
    }
}